/* HTML */
html {
  scroll-behavior: smooth;
}

body {
	background-color: rgb(27,30,37);
	color: white;
}


/* Navbar */
.hz-nvbr {
	backdrop-filter: blur(8px);
	background: rgba(35,40,60,0.95);
}
.hz-drpdwn {
	backdrop-filter: blur(8px);
	background: rgba(35,40,60,0.95);
	box-shadow: none;
	border-radius: 0px;
}
.hz-drpdwn-btn {
	color: rgb(220,240,255);
	
}
.hz-nvbr-title {
	color: rgb(230,240,250);
}
.hz-nvbr-abtn {
	color: rgb(200,220,230);
}
ul.nav a:hover  { 
	border-radius: 1px;
	color: rgb(230,240,250);
	background-color: rgba(180,210,230,0.4);
	text-decoration: none;
}
ul.nav a:focus  { 
	border-radius: 3px;
	color: rgb(0,10,20);
	background-color: rgba(180,210,230,0.4);
}



/* Button */
.hz-a-btn {
	color: rgb(200,220,230);
}






/* Bootstrap Modifications */
.icon-bar {
	background-color: rgb(27,30,37);
	color: rgb(27,30,37);
}

.dropdown-menu {
	width: 500px;
}

/*
div {
	background-color: blue;
}
.row {
	background-color: black;	
}

.col-md-6 {
	background-color: yellow;
}

.pl-main-cntnt {
	background-color: orange;
}
*/